{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="nav">
        <img src="{% static 'img/logo.png' %}" alt="">
        <div class="navitem" onclick="window.location.reload()">홈</div>
        <div class="navitem">소개</div>
        <div class="navitem">테크</div>
        <div class="navitem">프로젝트</div>
        <div class="navitem">액티비티</div>
    </div>
    <div class="title" style="background-color: black;">
        <img src="{% static 'img/title.png' %}" alt="">
        <div class="desc">
            <h2>김동현</h2>
            <h3>24살</h3>
            <h3>상명대학교 컴퓨터과학전공 3학년</h3>
            <h3>Contact : gsu9045000@gmail.com</h3>
            <h3>Github : <a href="https://github.com/DDonghyeo">Link</a></h3>
            <h3>velog : <a href="https://velog.io/@ddonghyeo_">Link</a></h3>
            <h4>주변믜 문제를 꾸준히 고민하고, 창의적으로 해결합니다.</h3>
            <h4>효율적인 방안을 항상 생각하고, 최적화에 아낌없이 시간을 쏟습니다.</h3>
        </div>
    </div>
    <div class="core"> 
        <div class="core_title">테크</div>
        <div class="core_cont">
            <img src="{% static 'img/java.png' %}" alt="">
            <img src="{% static 'img/python.png' %}" alt="">
            <img src="{% static 'img/c.png' %}" alt="">
            <img src="{% static 'img/html.png' %}" alt="">
            <img src="{% static 'img/css.png' %}" alt="">
            <img src="{% static 'img/js.png' %}" alt="">
        </div>
        <div class="core_title">프로젝트</div>
        <div class="core_cont">
            <img src="{% static 'img/waither.png' %}" alt="">
            <img src="{% static 'img/python.png' %}" alt="">
            <img src="{% static 'img/c.png' %}" alt="">
            <img src="{% static 'img/html.png' %}" alt="">
            <img src="{% static 'img/css.png' %}" alt="">
            <img src="{% static 'img/js.png' %}" alt="">
        </div>
        <div class="core_title">액티비티</div>
        <div class="core_cont">
            <img src="{% static 'img/java.png' %}" alt="">
            <img src="{% static 'img/python.png' %}" alt="">
            <img src="{% static 'img/c.png' %}" alt="">
            <img src="{% static 'img/html.png' %}" alt="">
            <img src="{% static 'img/css.png' %}" alt="">
            <img src="{% static 'img/js.png' %}" alt="">
        </div>
    </div>
</body>
</html>