{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="nav">
        <img src="{% static 'img/logo.png' %}" alt="" onclick="location.href='/'">
        <div class="navitem" onclick="window.location.reload()">홈</div>
        <div class="navitem">소개</div>
        <div class="navitem">테크</div>
        <div class="navitem">프로젝트</div>
        <div class="navitem">액티비티</div>
    </div>
    <div class="title" style="background-color: black;">
        <img src="{% static 'img/title.png' %}" alt="">
        <div class="desc">
            <h2>김동현</h2>
            <h3>24살</h3>
            <h3>상명대학교 컴퓨터과학과전공 3학년</h3>
            <h3>Contact : gsu9045000@gmail.com</h3>
            <h3>Github : <a href="https://github.com/DDonghyeo">Link</a></h3>
            <h3>velog : <a href="https://velog.io/@ddonghyeo_">Link</a></h3>
            <h4>주변믜 문제를 꾸준히 고민하고, 창의적으로 해결합니다.</h3>
            <h4>효율적인 방안을 항상 생각하고, 최적화에 아낌없이 시간을 쏟습니다.</h3>
        </div>
    </div>
    <div class="core"> 
        <div class="core_title">언어</div>
        <div class="core_cont">
            <img src="{% static 'img/java.png' %}" alt="">
            <img src="{% static 'img/python.png' %}" alt="">
            <img src="{% static 'img/c.png' %}" alt="">
            <img src="{% static 'img/html.png' %}" alt="">
            <img src="{% static 'img/css.png' %}" alt="">
            <img src="{% static 'img/js.png' %}" alt="">
        </div>
        <div class="core_title">테크</div>
        <div class="core_cont">
            <img src="{% static 'img/spring.png' %}">
            <img src="{% static 'img/mysql.png' %}" alt="">
            <img src="{% static 'img/django.png' %}" alt="">
            <img src="{% static 'img/github.png' %}" alt="">
            <img src="{% static 'img/aws.png' %}" alt="">
        </div>
        <div class="core_title">프로젝트</div>
        <div class="core_cont">
            <img class="project" src="{% static 'img/waither.png' %}" style="cursor: pointer;" onclick="openm('waither')">
            <img class="project" src="{% static 'img/smunity.png' %}" style="cursor: pointer;" onclick="openm('smunity')" >
            <img class="project" src="{% static 'img/Online.png' %}" style="cursor: pointer;" onclick="openm('tools')">
        </div>
        <div class="core_title">액티비티</div>
        <div class="core_cont" style="margin-bottom: 0; padding-bottom: 80px;">
            <img id="umc" src="{% static 'img/umc.png' %}" alt="">
            <div id="umc_activity" class="activity">
                <li>UMC 3rd Spring 부원</li>
                <li>UMC 아이디어톤 5개 중 3개 수상</li>
                <li>UMC 4th 운영진 Server 파트장</li>
            </div>
            <img id="demoday" src="{% static 'img/demoday.png' %}" alt="">
            <div id="demoday_activity" class="activity">
                <li>UMC DemoDay 최우수상</li>
            </div>
        </div>
    </div>

    <!-- modal -->
    <!-- waither -->
    <div id="waither" class="modal">
        <div class="modal_content">
            <span class="close" onclick="modal_close(this)" close="waither">&times;</span>
            <div class="modal_div">
                <div class="modal_title" id="waither_title"></div>
                <div class="modal_desc">
                    <div class="desc_name">나만의 기상비서, Waither</div>
                    <div class="desc_inf">
                        - PM, Back-End 참여 <br>
                        - Tech : Spring, Spring Boot, MySQL, AWS, JDBC, etc <br>
                        - 사용자에 맞춤화된 개인 기상 서비스입니다. <br>
                        - PM과 백엔드 파트를 동시에 참여했으며, 서버 배포&관리, HTTPS, SSL, Spring Security, Swagger 등을 활동했습니다. <br>
                        - 앱 런칭까지 진행 중에 있습니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- smunity -->
    <div id="smunity" class="modal">
        <div class="modal_content">
            <span class="close" onclick="modal_close(this)" close="smunity">&times;</span>
            <div class="modal_div">
                <div class="modal_title" id="smunity_title"></div>
                <div class="modal_desc">
                    <div class="desc_name">상명대 졸업요건 사이트, Smunity</div>
                    <div class="desc_inf">
                        - Full Stack 참여 <br>
                        - Tech : Django, AWS, Docker <br>
                        - 상명대학교 졸업생들을 위한 졸업요건 사이트입니다. <br>
                        - 결과 페이지 (html,css,js), 일부 결과 로직과 배포, 정보획득 등의 활동을 했습니다. <br>
                        - <a href="https://www.smunity.co.kr/">배포</a>가 완료되었고, 현재 운영 중에 있으며 학생회와 컨택하여 확장 중입니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tools -->
    <div id="tools" class="modal">
        <div class="modal_content">
            <span class="close" onclick="modal_close(this)" close="tools">&times;</span>
            <div class="modal_div">
                <div class="modal_title" id="tools_title"></div>
                <div class="modal_desc">
                    <div class="desc_name">온라인 툴 페이지</div>
                    <div class="desc_inf">
                        - Full Stack 참여 <br>
                        - Tech : Django, Apache, mysql, AWS <br>
                        - 여러 유용한 툴들을 사용할 수 있는 사이트입니다. <br>
                        - 서버 배포 & 관리, 상당 백엔드 파트 담당, 프론트 파트를 담당했습니다.  <br>
                        - 배포까지 진행했으나 현재는 중단 상태입니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function openm(e){
        document.getElementById(e).style.display = "block";
    }

    function modal_close(e){
        var target = document.getElementById(e.getAttribute('close')).getAttribute('id');
        document.getElementById(target).style.display = "none";
    }

    var umc = document.getElementById('umc')
    umc.addEventListener('mouseenter', umc_in)
    umc.addEventListener('mouseleave', umc_out)

    function umc_in() {
        document.getElementById('umc_activity').style.display = "block";
    }

    function umc_out() {
        document.getElementById('umc_activity').style.display = "none";
    }


    var umc = document.getElementById('demoday')
    umc.addEventListener('mouseenter', demo_in)
    umc.addEventListener('mouseleave', demo_out)

    function demo_in() {
        document.getElementById('demoday_activity').style.display = "block";
    }

    function demo_out() {
        document.getElementById('demoday_activity').style.display = "none";
    }

</script>
</html>